---
const currentYear = new Date().getFullYear()
---

<footer
  class="rounded-lg shadow m-4 bg-black/5 dark:bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10"
  >

  <div
    class="w-full mx-auto max-w-screen-xl p-4 flex items-center justify-between"
  >
  <span
    class="text-sm sm:text-center text-yellow-800/90 dark:text-yellow-200/90"
    >© {currentYear} Lourdes Juárez</span>
    <ul
      class="flex flex-wrap items-center text-sm font-medium  text-yellow-800/90dark:text-white/90"
    >
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Inicio</a>
      </li>
      <li>
        <a href="#projects" class="hover:underline me-4 md:me-6">Projectos</a>
      </li>
      <li>
        <a href="#aboutme" class="hover:underline">Sobre mí</a>
      </li>
    </ul>
  </div>
</footer>