<header class="flex justify-between items-center mx-auto px-3 sm:px-10 py-3  sticky top-0 w-full xl:w-[1120px]
z-10 bg-white drop-shadow-md rounded-lg ">
    <img 
    class="rounded-full w-16 h12"
    src="./logo_ljp.png" alt="ljp photo">
    <nav class="flex flex-row gap-x-10 opacity-80 sm:text-sm">
        
        <a href="#aboutme">Sobre mí</a>
        <a href="#projects">Projectos</a>
        <a href="#contactform">Contacto</a>

    </nav>
</header>

<!-- 
<header class="flex justify-between items-center mx-auto px-10 py-3 sticky top-0 w-full xl:w-[1120px]
z-10 bg-white drop-shadow-md rounded-lg "> -->