---
import { Image } from 'astro:assets';
import logo_ljp from '@public/logo_ljp.png';
---

<header
	class='flex justify-between items-center mx-auto px-3 sm:px-10 py-3 sticky top-0 w-full xl:w-[1120px]
z-10 bg-white drop-shadow-md rounded-lg'
>
	<Image class='w-20 sm:w-20 h12' src={logo_ljp} alt='ljp photo' />
	<nav class='flex flex-row gap-x-5 sm:opacity-80 text-xs sm:text-sm'>
		<a class='hover:text-[#5dccc6] hover:font-semibold' href='#aboutme'>Sobre mí</a>
		<a class='hover:text-[#5dccc6] hover:font-semibold' href='#projects'>Projectos</a>
		<a class='hover:text-[#5dccc6] hover:font-semibold' href='#contactform'>Contacto</a>
	</nav>
</header>

<style></style>
<!-- 
<header class="flex justify-between items-center mx-auto px-10 py-3 sticky top-0 w-full xl:w-[1120px]
z-10 bg-white drop-shadow-md rounded-lg "> -->
