<a class="border border-submarine-400 text-gray-800 dark:text-gray-200 rounded-lg bg-submarine-100 dark:bg-gray-700 flex justify-center items-center gap-x-2 py-1 px-2 mb-2 hover:scale-110 hover:bg-submarine-300 dark:hover:bg-gray-600 transition"
{...Astro.props}
target ="_blank" rel="noopener noreferrer">
    <slot/>
</a>