---
import Header from '../components/Header.astro';
import "@fontsource/onest/400.css"; // Defaults to weight 400.
interface Props {
	title: string;
	description: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="relative h-full w-full bg-white"> 
		<div class="absolute h-full w-full bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_100%)]"></div></div>
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	:root {
	color-scheme: light; /* @TODO: Añadir dark  */
		
	}
	html {
		
		font-family: 'onest', system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body {
		/* background-color: #050505; */
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
</style>
